// Layout Center
//
// This class can be used to center any container.
//
// Markup:
// <div class="l-center">
//   <h3>Centered container with a max-width of 960px.</h3>
// </div>
//
// Style guide: layouts.l-center

.l-center,
%l-center {
  @include clearfix();
  padding: $content-padding--horizontal--mobile;

  /* Tablet and up padding. Mobile padding is on
   * individual sections (ex: branding, footer)
   */
  @include breakpoint($bp-sm) {
    padding: $content-padding--horizontal--mobile;
  }

  @include breakpoint($bp-md) {
    padding: $content-padding--horizontal;
  }
}
