<div class="site-logo">
  {{#if home_page}}
  <a href="#" rel="home" class="site-logo__link active">Styleguide</a>
  {{else}}
  <a href="../" rel="home" class="site-logo__link active">Styleguide</a>
  {{/if}}
</div>