<div class="menu-toggle"><a href="#" class="js-menu-toggle menu-toggle--button button">Menu</a></div>
<nav class="main-navigation js-main-navigation">
  <ul class="main-navigation__menu menu">
    <li class="main-navigation__link"><a href="/rapid-mockups-kss-node/default/">Styleguide</a></li>
    <li class="main-navigation__link"><a href="/rapid-mockups-kss-node/basic/">Basic Page</a></li>
    <li class="main-navigation__link"><a href="/rapid-mockups-kss-node/news/">News</a></li>
  </ul>
</nav>