<div class="sidebar">
  <div class="sidebar__block">
    <p>Nullam id ante diam. Mauris eu nisi ut massa  imperdiet tristique. Donec ac diam a augue dapibus condimentum. Curabitur et cursus tortor, auctor sagittis quam. Integer felis quam, dictum eu nibh vel, ullamcorper viverra orci. Vivamus suscipit lorem a lectus placerat, eu viverra nibh blandit. Pellent esque augue mi, ultrices non posuere in, congue luctus sem.</p>
  </div>
</div>