//=======================================================
// Typography
//=======================================================
$font-path: '../assets/fonts';

/* Open Sans - Book */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'),
       url('#{$font-path}/OpenSans/Regular/OpenSans-Regular.woff') format('woff'); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}

/* Open Sans - Light */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'),
       url('#{$font-path}/OpenSans/Light/OpenSans-Light.woff') format('woff'); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}

$font-stack-base: 'Open Sans', sans-serif;
$font-stack-secondary: $font-stack-base;

// Setup static font weight variables, rather than
// using lighter, bolder, etc.
$font-bold: 700;
$font-book: 400;
$font-light: 300;
$font-italic: italic;
