<div class="article-list">
  <article class="article-list__article">
    <div class="article-list__picture">
      {{#picture args size="100x100" modifier_class="article-list__image thumbnail-image"}}{{/picture}}
    </div>
    <div class="article-list__body">
      <h2 class="article-list__title"><a href="#" class="article-list__link">Press release title, event title is so long it takes up two lines</a></h2>
      <div class="article-list__meta">June 7, 2015 | Location for events</div>
    </div>
  </article>

  <article class="article-list__article">
    <div class="article-list__picture">
      {{#picture args size="100x100" modifier_class="article-list__image thumbnail-image"}}{{/picture}}
    </div>
    <div class="article-list__body">
      <h2 class="article-list__title"><a href="#" class="article-list__link">Press release title, one line</a></h2>
      <div class="article-list__meta">June 6, 2015</div>
      <p class="article-list__summary">Example of where a brief description would appear only if available and selected for inclusion as a summary</p>
    </div>
  </article>

  <article class="article-list__article">
    <div class="article-list__picture">
      {{#picture args size="100x100" modifier_class="article-list__image thumbnail-image"}}{{/picture}}
    </div>
    <div class="article-list__body">
      <h2 class="article-list__title"><a href="#" class="article-list__link">Press release title, event title is so long it takes up two lines of text</a></h2>
      <div class="article-list__meta">June 5, 2015 | Location for events</div>
      <p class="article-list__summary">Example of a long title with brief description to show spacing when text spands longer than the image height</p>
    </div>
  </article>

  <article class="article-list__article">
    <div class="article-list__picture">
      {{#picture args size="100x100" modifier_class="article-list__image thumbnail-image"}}{{/picture}}
    </div>
    <div class="article-list__body">
      <h2 class="article-list__title"><a href="#" class="article-list__link">Press release title, one line</a></h2>
      <div class="article-list__meta">June 4, 2015</div>
    </div>
  </article>

  <article class="article-list__article">
    <div class="article-list__picture">
      {{#picture args size="100x100" modifier_class="article-list__image thumbnail-image"}}{{/picture}}
    </div>
    <div class="article-list__body">
      <h2 class="article-list__title"><a href="#" class="article-list__link">Press release title, event title is so long it takes up two lines of text</a></h2>
      <div class="article-list__meta">June 7, 2015 | Location for events</div>
    </div>
  </article>

  <article class="article-list__article">
    <div class="article-list__picture">
      {{#picture args size="100x100" modifier_class="article-list__image thumbnail-image"}}{{/picture}}
    </div>
    <div class="article-list__body">
      <h2 class="article-list__title"><a href="#" class="article-list__link">Press release title, one line</a></h2>
      <div class="article-list__meta">June 6, 2015</div>
      <p class="article-list__summary">Example of where a brief description would appear only if available and selected for inclusion as a summary</p>
    </div>
  </article>

  <article class="article-list__article">
    <div class="article-list__picture">
      {{#picture args size="100x100" modifier_class="article-list__image thumbnail-image"}}{{/picture}}
    </div>
    <div class="article-list__body">
      <h2 class="article-list__title"><a href="#" class="article-list__link">Press release title, one line</a></h2>
      <div class="article-list__meta">June 6, 2015</div>
      <p class="article-list__summary">Example of where a brief description would appear only if available and selected for inclusion as a summary</p>
    </div>
  </article>
</div>