<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>News Page | Styleguide</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/rapid-mockups-kss-node/theme/css/styleguide.main.css" />
    <link rel="stylesheet" href="/rapid-mockups-kss-node/theme/css/styleguide.print.css" />
    <link rel="icon" type="image/x-icon" href="/rapid-mockups-kss-node/theme/assets/favicon/favicon.ico" />
    <link rel="apple-touch-icon" href="/rapid-mockups-kss-node/theme/assets/favicon/apple-touch-icon.png">
    <!--[if lt IE 9]>
    <script src="public/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body class="no-js">
    <div class="page-wrapper">
      <div class="l-header">
        {{> components.site-logo}}
        {{> components.main-navigation}}
      </div>
      {{> pages.news-page}}
      {{> components.page-footer}}
    </div>
    <script src="public/jquery-1.9.1.min.js"></script>
    {{{scripts}}}
  </body>
</html>
