//=======================================================
// Variables
//=======================================================

// Example: url(#{asset-path}/icons/site-logo.svg)
$asset-path: '../assets/dist';

// Site-wide padding around content layouts
$padding-lg: 3.5rem;
$padding-sm: 2rem;
$gutter: 0.8rem;

$content-padding: $padding-sm $padding-lg;
$content-padding--horizontal: 0 $padding-lg;
$content-padding--vertical: $padding-sm 0;

$content-padding--mobile: $padding-sm $padding-sm;
$content-padding--horizontal--mobile: 0 $padding-sm;
$content-padding--vertical--mobile: $padding-sm 0;

// Site-wide max-width
$max-width: 1440px;