<div class="l-content-header content-header">
  <h1 class="page-title">Basic page title h1 goes here. This is what it looks like when returned.</h1>
  <h2 class="page-header">Basic page header h2 dolor sit amet nulla sin</h2>
</div>
<div class="l-content-sidebar content-sidebar">
  <article class="l-content l-page-content page-content">
    {{> components.page-content}}
  </article>
  <aside class="l-sidebar sidebar">
    {{> components.page-sidebar}}
  </aside>
</div>