@include add-grid(12);

.l-header {
  @extend %l-center;
  @include clearfix;
  position: relative;
  margin-bottom: $padding-sm;

  .site-logo {
    @include grid-span(12,1);
    margin-bottom: 0;
    padding-top: $padding-sm;
    padding-right: 6rem;

    @include breakpoint ($bp-sm) {
      width: auto;
      float: left;
    }
  }

  .menu-toggle {
    position: absolute;
    top: $padding-sm;
    right: $padding-sm;
  }

  .main-navigation {
    @include grid-span(12,1);
    margin: 0;

    @include breakpoint ($bp-sm) {
      width: auto;
      float: right;
      padding-top: $padding-sm;
    }
  }
}