// Page - Footer
//
// Markup: components.page-footer.hbs
//
// Style guide: components.page-footer

footer {
  background: $gradient-primary;
  color: color(white-solid);
  text-align: center;
  padding: $padding-sm;
}